/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea
/.vscode

/public/mix-manifest.json
/public/robots.txt

/public/crm/
/public/account/
/public/front/
/public/images/
/public/js/
/public/css/
/public/fonts/
/public/assets/
/docker/meili/
/docker/mysql/
/docker/redis/
/docker/soketi/
/public/media/
/storage/download/
/storage/temp/
/public/20/6086-1.jpg
/public/export/
/public/vendor/
/public/documents/
